.num-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dot-badge {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
}

.exclamation-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    font-weight: 600;
    width: 12px;
    height: 12px;
    border: 2px solid tomato;
    border-radius: 50%;
    margin-left: 5px;
}